<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SgMergeSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SgMergeSuite.Properties.Settings>
            <setting name="VersionControlServerPath" serializeAs="String">
                <value>http://alborzscm:8080/tfs</value>
            </setting>
            <setting name="WorkspaceName" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkspaceOwner" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceBranch" serializeAs="String">
                <value>$/GM/Prd/V5/SVPMain</value>
            </setting>
            <setting name="TargetBranch" serializeAs="String">
                <value>$/GM/Prd/V5/SVPDvp</value>
            </setting>
        </SgMergeSuite.Properties.Settings>
    </userSettings>
</configuration>